<app-parent>
    <!-- ContentChild example -->
    <app-child></app-child>
  </app-parent>
  <br><br>
  <br>
  <h1>Change Detection Demo</h1>
  <button (click)="changePrimitive()">Change Primitive</button>
  <button (click)="changeNonPrimitive()">Change Non-Primitive</button>
  <button (click)="mutateNonPrimitive()">Mutate Non-Primitive</button>

  <h2>Default Change Detection:</h2>
  <app-default [primitive]="primitive" [nonPrimitive]="nonPrimitive"></app-default>

  <h2>OnPush Change Detection:</h2>
  <app-on-push [primitive]="primitive" [nonPrimitive]="nonPrimitive"></app-on-push>
